<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>JoinCon</servlet-name>
		<display-name>JoinCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginCon</servlet-name>
		<display-name>LoginCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>policeCon</servlet-name>
		<display-name>policeCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.policeCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sendSms</servlet-name>
		<display-name>sendSms</display-name>
		<description></description>
		<servlet-class>sms.sendSms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCon</servlet-name>
		<display-name>UpdateCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.UpdateCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserCon</servlet-name>
		<display-name>UserCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.UserCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCon</servlet-name>
		<display-name>DeleteCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.DeleteCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userPagingCon</servlet-name>
		<display-name>userPagingCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.userPagingCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>faceInfoCon</servlet-name>
		<display-name>faceInfoCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.faceInfoCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reportPagingCon</servlet-name>
		<display-name>reportPagingCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.reportPagingCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>faceUpdateCon</servlet-name>
		<display-name>faceUpdateCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.faceUpdateCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>faceAddCon</servlet-name>
		<display-name>faceAddCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.faceAddCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>faceUpdate2Con</servlet-name>
		<display-name>faceUpdate2Con</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.faceUpdate2Con</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wantDeleteCon</servlet-name>
		<display-name>wantDeleteCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.wantDeleteCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reportContentCon</servlet-name>
		<display-name>reportContentCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.reportContentCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reportProCon</servlet-name>
		<display-name>reportProCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.reportProCon</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JoinCon</servlet-name>
		<url-pattern>/JoinCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCon</servlet-name>
		<url-pattern>/LoginCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>policeCon</servlet-name>
		<url-pattern>/policeCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sendSms</servlet-name>
		<url-pattern>/sendSms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCon</servlet-name>
		<url-pattern>/UpdateCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserCon</servlet-name>
		<url-pattern>/UserCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCon</servlet-name>
		<url-pattern>/DeleteCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userPagingCon</servlet-name>
		<url-pattern>/userPagingCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reportPagingCon</servlet-name>
		<url-pattern>/reportPagingCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>faceInfoCon</servlet-name>
		<url-pattern>/faceInfoCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>faceUpdateCon</servlet-name>
		<url-pattern>/faceUpdateCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>faceAddCon</servlet-name>
		<url-pattern>/faceAddCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>faceUpdate2Con</servlet-name>
		<url-pattern>/faceUpdate2Con</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wantDeleteCon</servlet-name>
		<url-pattern>/wantDeleteCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reportContentCon</servlet-name>
		<url-pattern>/reportContentCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reportProCon</servlet-name>
		<url-pattern>/reportProCon</url-pattern>
	</servlet-mapping>
</web-app>
